<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Урок 1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="sample">
			Promo: <input type="text" :value="promo" @change="setPromo">
			<hr>
			<div :class="hasSale ? 'text-muted' : ''">{{ price }}</div>
			<div v-if="hasSale">-{{ sale }}%</div>
			<div v-if="hasSale">{{ total }}</div>
		</div>
	</div>
	<script>
		function calcSale(promo, callback){
			let codes = {
				bigsale: 20,
				some: 10
			};

			setTimeout(function(){
				callback(promo in codes ? codes[promo] : 0);
			}, 500);
		}

		let vm = new Vue({
			el: '.sample',
			data: {
				price: 1000,
				promo: '',
				sale: 0
			},
			computed: {
				hasSale(){
					return this.sale > 0;
				},
				total(){
					return this.price * (1 - this.sale / 100);
				}
			},
			methods: {
				setPromo(e){
					this.promo = e.target.value;
					
					calcSale(this.promo, (sale) => {
						this.sale = sale;
					});
				}
			}
		});

	</script>
</body>
</html>