<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="show">
				<div class="progress">
					<div class="progress-bar" :style="lengBar" role="progressbar"
						 aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div>
					<field v-for="field,i in info" :name="field.name" :value="field.value" :index="i" :pattern="field.pattern"
						@valid="chengData">
					</field>
				</div>
				<button class="btn btn-primary" :disabled="valid" @click="show=!show" type="button">
					Send Data
				</button>
			</form>
			<div v-else>
				<table class="table table-bordered">
					<tr v-for="val,i in  info">
						<td>{{val.name}}</td>
						<td>{{val.value}}</td>
					</tr>
				</table>
				<button class=" btn btn-primary" :disabled="valid" @click="show=!show">
					Back
				</button>
			</div>

		</div>
	</div>
	<script>

		Vue.component('field', {
			props: ['name', 'pattern', 'index','value'],
		 	 data() {
			 	return {
					 // необходим  что-бы сделать так, что при возврате из итоговой таблици назад, поля инпутов не теряли значения
					ch_value: ''
				} 
			},  
			template: ` <div class="form-group">
							<label style="display: flex;">
								<span>{{name}}</span>
								<div v-if="active" class="ml-2">
								    <i class="fa" :class="getClass"></i>
								</div> 
							</label>
							<input type="text" class="form-control" :value="value" @input="makeEvent($event)" >
						</div>`,
			methods: {
				makeEvent(e) {
					this.ch_value = e.target.value
					if (this.valid) {
						this.$emit('valid', { index: this.index, value: this.ch_value, valid: true })
					} else {
						this.$emit('valid', { index: this.index, value: this.ch_value, valid: false })
					}

				},

			},
			computed: {
				active() {
					if (this.value != '') {
						return true
					} else {
						return false
					}
				},
				valid() {
					if (this.value.search(this.pattern) != -1) {
						return true

					} else {
						return false
					}
				},
				getClass() {
					if (this.valid) {
						return 'fa-check-circle green'
					} else {
						return 'fa-exclamation red'
					}
				}
			}
		})

		new Vue({
			el: '.sample',
			data: {
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/,

					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/,

					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/,

					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/,

					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/,

					}
				],
				show: true,
			},
			beforeMount() {
				this.info.forEach(e => {
					this.$set(e, 'valid', false)
				})
			},
			methods: {
				// можно ли в этот метод передать параметр родителя из родителя (например i), и парметр ребенка из ребенка (v)? 
				// сейчас все передается из ребенка в объекте v.
				chengData(v) {
					this.$set(this.info[v.index], 'value', v.value)
					this.$set(this.info[v.index], 'valid', v.valid)
				}
			},
			computed: {
				lengBar() {
					let k = 0
					this.info.forEach(el => {
						el.valid && k++
					});

					return 'width:' + 100 / this.info.length * k + '%'
				},
				valid() {
					for (let i = 0; i < this.info.length; i++) {
						if (!this.info[i].valid) return true
					}
					return false
				}
			}

		});
	</script>
</body>

</html>